Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^storage/ - [F,L]
RewriteRule ^config\.php$ - [F,L]
</IfModule>

<FilesMatch "^\.">
    Require all denied
</FilesMatch>
